/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */

.ui-grid-viewport {
	background:url(/wac-w1/3rd/ico/png/links-background.png) no-repeat center center fixed;	
	background-size: 75% 75%;
}
.ui-grid-cell-contents {
	background:url(/wac-w1/3rd/ico/png/links-background.png) no-repeat center center fixed;	
	background-size: 75% 75%;	
	padding: 1px;
}
.ui-grid-header-cell-label {
	padding: 3px;
}
html {
	background:url(/wac-w1/3rd/ico/png/links-background.png) no-repeat center center fixed;	
	background-size: 75% 75%;
}

.ui-grid {
	width:100%;
	height: 90vh;	
}

.well {
	padding: 1px;
	margin: 1px;
}

.btn {
    font-weight: 700;
    padding: 2px 2px;
    border: 1 none;
    letter-spacing: 1px;
}