/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */

.heading {
	font-size: 1em;
	font-weight: bold;
	color: black;
}

.drag-region {
	border: 1px solid black;
	padding: 1em;
	margin: .5em;
	text-align: center;
	height: 300px;
}

.drop-region {
	border: 1px solid black;
	padding: 1em;
	margin: .5em;
	text-align: center;
	height: 300px;
}

.drag-item {
	border: 2px solid #30568f;
	background-color: #126bad;
	color: white;
	padding: 1em;
	margin: .1em;
	text-align: center;
}