/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */

.btn {
	padding: 6px 6px;
	margin-top: 6px;
	font-size: smaller;
}

html {
	overflow-y:auto;  /* scroll down file list */
	overflow-x:hidden;  /* no scrolling sideways, mite need for long names */
}

element {
}

.container {
	margin-left: 2px;  /* upper left hand corner */
	padding: 0px;
	width: 200px; /* no scrolling, fixed width */
}

.well {
	padding: 5px;
	margin-bottom: 5px;
}

.progress {
	margin: 5px;
}

.table {
	margin-bottom: 0px;
}