/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */

.wac-draggable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	
	cursor: move;
}

.wac-droppable.over {
	border: 2px dashed black;
	color: #3c763d;
	background-color: #dff0d8;
}

/* the following will make sure Angular directive-based drag
 * and drop elements have the same styling as HTML5 ones */
[draggable] {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	
	cursor: move;
}

[droppable].over {
	border: 2px dashed black;
	color: #3c763d;
	background-color: #dff0d8;

}