/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */

 
img {
	padding:2px;
}
 
.mfb-component, .mfb-component--tl, .mfb-component--tr, .mfb-component--bl, .mfb-component--br {
  box-sizing: border-box;
  margin: 1px; /*where in the corner the main button appears */
  position: fixed;
  white-space: nowrap;
  z-index: 30;
  padding-left: 0;
  list-style: none; }

.mfb-component *, .mfb-component--tl *, .mfb-component--tr *, .mfb-component--bl *, .mfb-component--br *, .mfb-component *:before, .mfb-component--tl *:before, .mfb-component--tr *:before, .mfb-component--bl *:before, .mfb-component--br *:before, .mfb-component *:after, .mfb-component--tl *:after, .mfb-component--tr *:after, .mfb-component--bl *:after, .mfb-component--br *:after {
vertical-align: middle;
  box-sizing: inherit; }

/*
    #BASE | Modifiers
*/
/**
 * Styles can be:
 * 1. Top-left:  " --tl " suffix.
 * 2. Top-right:  " --tr " suffix.
 * 3. Bottom-left:   " --bl " suffix.
 * 4. Bottom-right: " --br " suffix.
 */
.mfb-component--tl {
  left: 0;
  top: 0; }

.mfb-component--tr {
  right: 0;
  top: 0; }

.mfb-component--bl {
  left: 0;
  bottom: 0; }

.mfb-component--br {
  right: 0;
  bottom: 0; }

/*
    #BUTTONS | Base
*/
.mfb-component__button, .mfb-component__button--main, .mfb-component__button--child {
  background-color: rgba(0, 80, 80, 0.8); /*main button background color*/
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 25%; /*squared buttons*/
	box-shadow: 0 0 2px rgba(0, 80, 80, 80.14), 0 2px 2px rgba(0, 80, 80, 80.28);
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-user-drag: none;
  font-weight: bold;
  color: #f1f1f1; }

/**
 * the list items that contain 
 * the child buttons.
 *
 */
.mfb-component__list {
  list-style: none;
  margin: -1px;
  padding: 0px; }
  .mfb-component__list > li {
    display: block;
    position: absolute;
    top: 0;
    padding: 10px 0px;
    margin: -10px 0px; }

/**
 * basic styles for all the icons inside the main button
 */
.mfb-component__icon, .mfb-component__main-icon--active,
.mfb-component__main-icon--resting, .mfb-component__child-icon {
  text-align: center;
  line-height: 26px;
  width: 100%; 
 }

.mfb-component__wrap {
  padding: 10px;
  margin: -8px; }

.mfb-component:hover .mfb-component__icon, .mfb-component--tl:hover .mfb-component__icon, .mfb-component--tr:hover .mfb-component__icon, .mfb-component--bl:hover .mfb-component__icon, .mfb-component--br:hover .mfb-component__icon, .mfb-component:hover .mfb-component__main-icon--active, .mfb-component--tl:hover .mfb-component__main-icon--active, .mfb-component--tr:hover .mfb-component__main-icon--active, .mfb-component--bl:hover .mfb-component__main-icon--active, .mfb-component--br:hover .mfb-component__main-icon--active,
.mfb-component:hover .mfb-component__main-icon--resting,
.mfb-component--tl:hover .mfb-component__main-icon--resting,
.mfb-component--tr:hover .mfb-component__main-icon--resting,
.mfb-component--bl:hover .mfb-component__main-icon--resting,
.mfb-component--br:hover .mfb-component__main-icon--resting, .mfb-component:hover .mfb-component__child-icon, .mfb-component--tl:hover .mfb-component__child-icon, .mfb-component--tr:hover .mfb-component__child-icon, .mfb-component--bl:hover .mfb-component__child-icon, .mfb-component--br:hover .mfb-component__child-icon {
  transform: scale(1) rotate(0deg); }

/*
    #BUTTONS | Modifiers
-*/
.mfb-component__button--main {  /*button sizes*/
	  border:1px solid white;
  height: 26px;
  width: 26px;
  z-index: 20; }

.mfb-component__button--child {
	  border:1px solid white;
  height: 26px;
  width: 26px;
  padding:0px;}

.mfb-component__main-icon--active,
.mfb-component__main-icon--resting {
  transform: scale(1) rotate(360deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1); }

.mfb-component__main-icon--active {
  opacity: 0; }

.mfb-component:hover .mfb-component__main-icon, .mfb-component--tl:hover .mfb-component__main-icon, .mfb-component--tr:hover .mfb-component__main-icon, .mfb-component--bl:hover .mfb-component__main-icon, .mfb-component--br:hover .mfb-component__main-icon {
  transform: scale(1) rotate(0deg); }
.mfb-component:hover .mfb-component__main-icon--resting, .mfb-component--tl:hover .mfb-component__main-icon--resting, .mfb-component--tr:hover .mfb-component__main-icon--resting, .mfb-component--bl:hover .mfb-component__main-icon--resting, .mfb-component--br:hover .mfb-component__main-icon--resting {
  opacity: 0; }
.mfb-component:hover .mfb-component__main-icon--active, .mfb-component--tl:hover .mfb-component__main-icon--active, .mfb-component--tr:hover .mfb-component__main-icon--active, .mfb-component--bl:hover .mfb-component__main-icon--active, .mfb-component--br:hover .mfb-component__main-icon--active {
  opacity: 1; }

/*
    #BUTTONS | Animations
-*/
/**
 * SLIDE IN + FADE
 */

.mfb-component--tr.mfb-slidein .mfb-component__list li {
  opacity: 0;
  transition: all 0.5s; }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li {
  opacity: 1; }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li:nth-child(1) {
  transform: translateY(30px); }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li:nth-child(2) {
  transform: translateY(60px); }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li:nth-child(3) {
  transform: translateY(90px); }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li:nth-child(4) {
  transform: translateY(125px); }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li:nth-child(5) {
  transform: translateY(165px); }
.mfb-component--tr.mfb-slidein:hover .mfb-component__list li:nth-child(6) {
  transform: translateY(200px); }

/*
    #LABELS | base
 */
/**
 labels associated to each button,
 */
[data-mfb-label]:after {
  content: attr(data-mfb-label);
  opacity: 0;
  transition: all 0.5s;
  background: #008080;/*rgba(0, 0, 0, 0.4);*/
  padding: 4px 10px;
  border-radius: 3px;
  color: white;/*rgba(255, 255, 255, 0.8);*/
  font-size: 13px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: -14px;  /* change to make labels match with button positioning in relation to corner */
  transition: all 0.5s;
  box-shadow: 0 0 2px rgba(0, 80, 80, 80.14), 0 2px 4px rgba(0, 80, 80, 80.28);
  }

.mfb-component__button--child:hover {
	background: #800000;
	box-shadow: 0px 0px 2px #800000;
}

[data-mfb-label]:hover:after {
  content: attr(data-mfb-label);
  opacity: 1;
  transition: all 0.3s; }

/*
    #LABELS | Modifiers
-*/
.mfb-component--br [data-mfb-label]:after, .mfb-component--tr [data-mfb-label]:after {
  content: attr(data-mfb-label);
  right: 35px; }

.mfb-component--tl [data-mfb-label]:after, .mfb-component--bl [data-mfb-label]:after {
  content: attr(data-mfb-label);
  left: 35px; }

/**
 when developing the slide-in button
 */
html.mfb-slide-in {
  border-top: 5px solid teal; }

html.mfb-debug * {
  border: 1px solid red; }

/*# sourceMappingURL=mfb.css.map */
