<div>
    <ul class="bt mfb-component--tr mfb-slidein">
      <li class="mfb-component__wrap">
        <div data-mfb-label="App State Actions" class="mfb-component__button--main">
          <div class="mfb-component__main-icon--resting ion-wrench"></div>
        </div>     
        <ul class="mfb-component__list">
        
          <li>		
          	<div data-mfb-label="{{config.button1.label}}" class="mfb-component__button--child">
				<button ng-click="buttonOne()" class="mfb-component__button--child ion-arrow-graph-up-right"></button>
			</div>
          </li>	        
          
          <li>		
          	<div data-mfb-label="{{config.button2.label}}" class="mfb-component__button--child">
				<button ng-click="buttonTwo()" class="mfb-component__button--child ion-arrow-graph-up-right"></button>
			</div>
          </li>	        
          
          
          
			<!-- ... --> 
			
        </ul>        
      </li>
    </ul>
</div>

