
<div class="well pass">
    
	    <form data-ng-submit="run()" role="form">
		    <button type="submit" class="btn btn-primary">Generate Hash</button>
	    
		    <div class="form-group">
		        <input type="text" name="password" id="password" data-ng-model="newUser.password" class="form-control" placeholder="(password to hash)" required/>
		    </div>
		    
		    <textarea id="result" style="width:80%;" data-ng-model="newUser.result" placeholder="(results here)"/>
		    
		</form>
						
</div>