/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */


.pictureviewer {
	background:url(/wac-w1/3rd/ico/png/viewer-background.png) no-repeat center center fixed;
	background-size: 100% 100%;
}

/* some space between graphic chooser buttons */
.li {
	margin: 2px;
}

#sharefile {
	text-align: center; 
	font-weight: bold;
	border: 1px solid;
	padding: 10px;
}