<div class="container" style="width: 425px; position: absolute;">

	<div class="well">

		<div class="well">
		<div class="form-group">
			<div class="row">
				<button class="btn btn-primary" data-ng-click="clearChannel(true)">New Channel</button>
				<button class="btn btn-info" data-ng-click="selectChannel()">Edit Channel</button>
			</div>
			<div class="row pull-right">
			<div class="col-xs-12">
				<button class="btn btn-success" data-ng-click="saveChannel()">Save</button>
				<button class="btn btn-danger" data-ng-click="clearChannel(true)">Discard</button>
			</div>
			</div>
		</div>
		</div>

		<div class="well">
			<div class="form-group">
				<div class="namediv col-xs-12">
					<label for="name">Channel Name</label>
					<input type="text" class="form-control" id="name" placeholder="Channel Name" data-ng-model="channeldata.name">
				</div>
				<div class="descdiv col-xs-12">
					<label for="description">Channel Description</label>
					<textarea class="form-control" rows="3" style="resize: none;" id="name" placeholder="Channel Description"
					data-ng-model="channeldata.description"></textarea>
				</div>
			</div>
		</div>

		<div class="well">
		<div class="row">
			<span class="input-title">Channel Users</span>
		</div>
		<div class="row">
			<div class="grid-container col-xs-8"><div id="userGrid" data-ui-grid="userGridData" data-ui-grid-selection class="grid"></div></div>
			<div class="btn-container col-xs-4">
				<button class="btn btn-primary" data-ng-click="addUser()">Add New User...</button>
				<button class="btn btn-success" data-ng-disabled="!status.userselected" data-ng-click="editUser()">Edit User</button>
				<button class="btn btn-warning" data-ng-disabled="!status.userselected" data-ng-click="deleteUser()">{{status.buttontext}}</button>
			</div>
		</div>
		</div>

	</div>

</div>