/*
 * ****************************************************************************
 *  * Source code Copyright 2017 by Roger B. Leuthner
 *  *
 *  * This program is distributed in the hope that it will be useful, but 
 *  * WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
 *  * Public License for more details.
 *  *
 *  * Commercial Distribution License
 *  * If you would like to distribute this source code (or portions thereof) 
 *  * under a license other than the "GNU General Public License, version 2", 
 *  * contact Roger B. Leuthner through GitHub.
 *  *
 *  * GNU Public License, version 2
 *  * All distribution of this source code must conform to the terms of the GNU 
 *  * Public License, version 2.
 *  ***************************************************************************
 */

.cellDate {
	border-width:1px;
	border-style:solid;
		border-radius: 2px;
				display: inline-block;
}

#header {
	line-height: 27px;
	background: white;
	position: fixed;
	left: 0;
	right: 0;
	height: 27px;
	padding: 5px;
	text-align: center;
}

#header {
	top: 0;
	border-bottom: 2px solid black;
}

#help {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: black;
	background: rgba(0, 0, 0, 0.75);
}

#help div {
	text-align: right;
	margin: 150px auto 0 auto;
	width: 400px;
	height: 90px;
	padding: 20px;
	color: black;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	background: white;
}

#help ul {
	margin: 0;
	padding: 0 0 20px 20px;
	text-align: left;
	line-height: 15px;
}

a.button {
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 5px 15px;
	line-height: 15px;
	margin: 0 0 0 5px;
	border: 1px solid #999;
	border-radius: 4px;
	background: #EFEFEF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFDFDF));
}

a.button:active {
	background: #D7D7D7;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#DFDFDF));
}

body, td {
	background: white;
	color: black;
	margin: 0;
	font: 12px sans-serif;
}

table {
	margin: 0 auto;
	border-spacing: 0 0;
}

td {
	border-width: 1px;
	border-style: solid;	
	padding: 3px 5px 15px 3px !important; /*override boots*/
	text-align: right;
	vertical-align: top;
	cursor: pointer;
	border-radius:5px;
	resize: both;
	overflow: hidden;	
}

td span {
	margin-right: -4px;
}

td.extra {
	padding: 3px 3px 3px 3px;
	text-align: left;
	border: none;
	font: bold 15px 'Arial Narrow', sans-serif;
	line-height: 33px;
	cursor: auto;
}

td.shaded {
	background: #CFE7FF;
}

td.today {
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	padding-top: 1px;
	background-color: pink;
}

textarea {
	display: block;
	width: 100%;
	font: 12px sans-serif;
	margin: 3px 0 0 0;
	background: #CFE7FF;
	border: 1px solid #5FAFFF;
	border-radius: 4px;
	resize: both;
	overflow: hidden;
}

textarea:focus {
	outline: none;
}

td.shaded textarea {
	background: white;
}

a:focus {
	outline: none;
}
